.home-image {
  height: 27rem;
  width: 27rem;
  border-radius: 0.5rem;
  background-color: rgb(255,255, 255,1 );
  border-width: 4px;
  border-color: rgb(255,255, 255,1 );
  transition: background-color 300ms;
}
.home-image:hover {
  background-color: rgb(220, 38, 38,1);
}
.border-bottom{
    position: absolute;
    z-index: -10;
    top: 0px;
    left: 0px;
    width: 24.5rem;
    height: 24.5rem;
    border-width: 4px;
    border-radius: 0.4rem;
    border-color: rgb(255,255, 255,1 );
}
